.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #FCD34D;
}

/* custom responsive */
/* @media only screen and (max-width: 768px) {
    .md-size-my {
        flex-direction: row;
    }
} */